<?xml version="1.0" encoding="utf-8" ?>
<system.net>
  <mailSettings>
    <smtp from="YOUREMAIL@COMPANY.COM" deliveryMethod="Network">
      <network host="YOUR.SMTP.SERVER" userName="YOURUSERNAME@COMPANY.COM" password="YOURPASSWORD" port="YOURPORTNUMBER" enableSsl="true" defaultCredentials="false" />
    </smtp>
  </mailSettings>
</system.net>