<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"></add>
  <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver"></add>
  <add key="dialect" value="NHibernate.Dialect.SQLiteDialect"></add>
  <add key="query.substitutions" value="true=1;false=0"></add>
</appSettings>